* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  overscroll-behavior: none;
}

.webcam {
  width: 100vw;
  height: 100vh;

  /* mobile aspect */
  object-fit: cover;

  vertical-align: top;
}

@media (min-width: 768px) {
  /* desktop aspect */

  .webcam {
    object-fit: contain;
  }
}
